<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Olá mundo</h1>
	<form method="post">
		
		<span th:text="${menssage}"></span>
		</br>
		<label for="sku">Sku</label>
		<input type="text" name="sku"/>
		</br>
		<label for="nome">Nome</label>
		<input type="text" name="nome"/>
		</br>
		<label for="descricao">Descrição</label>
		<textarea rows="5" cols="25" name="descricao"></textarea>
		</br>
		<button>salvar</button>
	</form>
	
</body>
</html>